<template>
  <div class="content">
    <div class="container-fluid">
      <card>
        <template slot="header">
          <h4 class="card-title">
            List User
            <button class="btn btn-info btn-fill btn-rounded float-right">
              <i class="nc-icon nc-simple-add"></i>
            </button>
          </h4>
        </template>
        <div class="row">
          <fg-input class="col-4" addon-left-icon="nc-icon nc-zoom-split"></fg-input>
        </div>
        <div class="table-responsive">
          <l-table class="table-hover"
                    :columns="table1.columns"
                    :data="table1.data">
            <template slot="columns">
              <th>Username</th>
              <th>Name</th>
              <th>Telephone</th>
              <th>Role <i class="nc-icon nc-stre-down"></i></th>
              <th>Action</th>
            </template>
            <template slot-scope="{row}">
              <td>{{row.username}}</td>
              <td><b>{{row.name}}</b></td>
              <td><b>{{row.telephone}}</b></td>
              <td>{{row.role}}</td>
              <td>
                <button class="btn btn-info btn-sm btn-link">EDIT</button>
                <button class="btn btn-danger btn-sm btn-link">DELETE</button>
              </td>
            </template>
          </l-table>
        </div>
        <div class="card-footer">
          <div class="form-inline float-right">
            Rows Per page:&emsp;
            <select class="form-control" id="exampleFormControlSelect1">
              <option>5</option>
              <option>10</option>
              <option>25</option>
              <option>50</option>
            </select>
            &emsp;1-5 of 10&emsp;
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#"><i class="nc-icon nc-stre-left"></i></a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="nc-icon nc-stre-right"></i></a></li>
            </ul>
          </div>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/UIComponents/Table.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import fgInput from 'src/components/UIComponents/Inputs/formGroupInput.vue'
  const tableColumns = ['Username', 'Name', 'Telephone', 'Role', 'Action']
  const tableData = [{
    username: 'JohnHund',
    name: 'John Hunyadi',
    telephone: '083812349876',
    role: 'A'
  },
  {
    username: 'IteungJulaeha',
    name: 'Julaeha Iteung',
    telephone: '082143211234',
    role: 'B'
  },
  {
    username: 'Killa',
    name: 'Kiki lala',
    telephone: '089009878765',
    role: 'A'
  },
  {
    username: 'OjiKino',
    name: 'Fakhroji Kino',
    telephone: '087812340987',
    role: 'C'
  },
  {
    username: 'AcaAca',
    name: 'Azhar Rio',
    telephone: '0821345676',
    role: 'B'
  }]
  export default {
    components: {
      LTable,
      Card,
      fgInput
    },
    data () {
      return {
        table1: {
          columns: [...tableColumns],
          data: [...tableData]
        },
        table2: {
          columns: [...tableColumns],
          data: [...tableData]
        }
      }
    }
  }
</script>
<style lang="scss" scope>
  .btn-rounded {
    width: 44px !important;
    height: 44px !important;
    border-radius: 50%;
    padding: 0;

    i {
      padding-top: 4px;
    }
  }

  .btn-link {
    border: none !important;
  }

  .pagination {
    margin-bottom: 0;

    .page-link {
      border: none;
    }
  }

  .form-inline {
    display: flex !important;
  }

  .input-group-addon {
    padding: 0 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    i {
      padding-top: 12px;
    }
  }
</style>
