<template>
  <div class="wrapper">
    <side-bar title="Jhon Doe">
      <sidebar-link to="/admin/overview">
        <i class="nc-icon nc-chart-pie-35"></i>
        <p>Dashboard</p>
      </sidebar-link>
      <sidebar-link to="/admin/graphic">
        <i class="nc-icon nc-chart-bar-32"></i>
        <p>Graphic</p>
      </sidebar-link>
      <sidebar-link to="/admin/forms">
        <i class="nc-icon nc-notes"></i>
        <p>Forms</p>
        <i class="nc-icon nc-stre-down float-right"></i>
      </sidebar-link>
      <sidebar-link to="/admin/table-list">
        <i class="nc-icon nc-grid-45"></i>
        <p>Table</p>
      </sidebar-link>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click="toggleSidebar">

      </dashboard-content>

    </div>
  </div>
</template>
<script>
  import TopNavbar from './TopNavbar.vue'
  import DashboardContent from './Content.vue'
  export default {
    components: {
      TopNavbar,
      DashboardContent
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }
</script>
<style lang="scss">
</style>